
@{
    ViewBag.Title = "IndexBruker";
}
<head>
    <script src="/Scripts/jquery-3.1.1.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        $(function () {
            alert("On Load Startet");
            $.ajax({
                url: '/Kundes/HentKontoNr',
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    Kontoliste(data);
                    alert("Ajax Suksess");
                },
                error: function (feilmelding) {
                    alert("Feil. Kontakt systemansvarlig eller prøv igjen senere.\n" + feilmelding.Message);
                    alert(x + '\n' + y + '\n' + z);
                }
            });
            function Kontoliste(jsKontoListe) {
                alert("Kontoliste startet");
                utStreng = "";
                for (var løpeNr in jsKontoListe) {
                    utStreng += "<option>" + jsKontoListe[løpeNr].KontoNr + "</option>";
                }
                $("#KontoSelect").append(utStreng);
            }
        });
    </script>
</head>
<div id="NyTransaksjon">
    <h2>Ny Transaksjon</h2>
    <table>
        <tr>

        </tr>
        <tr>
            <td>
                <select id="KontoSelect"></select>
            </td>
        </tr>
    </table>
</div>