
@{
    ViewBag.Title = "IndexBruker";
}
<head>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        $(function () {
            var data = $("#persnr").text();
            $.ajax({
                url: '/Kundes/HentKontoNr',
                type: 'GET',
                dataType: 'json',
                success: function () {
                    alert("suksesss");
                },
                error: function (test) {
                    alert("Feil. Kontakt systemansvarlig eller prøv igjen senere.");

                    alert(x + '\n' + y + '\n' + z);
                }
            });/**
            function VisKonter(jsKontoNrOgBeløp) {
                utStreng = "<table>";
                for (var løpeNr in jsKontoNrOgBeløp) {
                    utStreng += "<tr><td>" + jsKontoNrOgBeløp[løpeNr] + "</tr><td>" + jsKontoNrOgBeløp[løpeNr] + "</td></tr>";
                }
                utStreng += "</table>";
                $("VisKonoter").append(utStreng);
            }*/
        });
    </script>
    
</head>
<p id="persnr">@Session["PersonNr"]</p>
<div id="VisKontoer"></div>