
@{
    ViewBag.Title = "IndexBruker";
}
<head>
    <script src="/Scripts/jquery-3.1.1.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        $(function () {
            $.ajax({ // henter data til KontoNr listen i ny transaksjon tabellen.
                url: '@Url.Action("HentKontoNr", "Kundes")',
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    Kontoliste(data);
                    //alert("Ajax Suksess");
                },
                error: function (feilmelding) {
                    alert("Feil. Kontakt systemansvarlig eller prøv igjen senere.\n" + feilmelding.Message);
                    alert(x + '\n' + y + '\n' + z);
                }
            });
            $.ajax({ // Henter data til oversikt tabellen.
                url: '@Url.Action("KontoOversikt", "Kundes")',
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    VisKontOversikt(data);
                    alert("Ajax Suksess");
                },
                error: function (feilmelding) {
                    alert("Feil. Kontakt systemansvarlig eller prøv igjen senere.\n" + feilmelding.Message);
                    alert(x + '\n' + y + '\n' + z);
                }
            });
            //Disse bygger nettsiden.
            function VisKontOversikt(jsKontoOversikt) {
                utStreng = "";
                for (var løpeNr in jsKontoOversikt) {
                    utStreng += "<table class='table' id='" + jsKontoOversikt[løpeNr].KontoNr + "'><thead class='thead-inverse'><tr><td>KontoNr: " + jsKontoOversikt[løpeNr].KontoNr + "</td><td> Saldo: " + jsKontoOversikt[løpeNr].Saldo + " ,-</td></tr></thead></table>";
                }
                $("#KontoOversikt").append(utStreng);

            }
            function Kontoliste(jsKontoListe) {
                utStreng = "";
                for (var løpeNr in jsKontoListe) {
                    utStreng += "<option>" + jsKontoListe[løpeNr].KontoNr + "</option>";
                }
                $("#KontoSelect").append(utStreng);
            }
        });
    </script>
</head>
<div id="persnr" data-persnr="@Session["PersonNr"]"></div>
<div id="KontoOversikt" class="container">
    <h2>Dine Kontoer</h2>
    <!--VisKontoOversikt-->
</div>
@Html.Partial("NyTransaksjon")