
@{
    ViewBag.Title = "IndexBruker";
}
<head>
    <script src="/Scripts/jquery-3.1.1.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        $(function () {
            $.ajax({ // henter data til KontoNr listen i ny transaksjon tabellen.
                url: '@Url.Action("HentKontoNr", "Kundes")',
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    Kontoliste(data);
                    //alert("Ajax Suksess");
                },
                error: function (feilmelding) {
                    alert("Feil. Kontakt systemansvarlig eller prøv igjen senere.\n" + feilmelding.Message);
                    alert(x + '\n' + y + '\n' + z);
                }
            });
            $.ajax({ // Henter data til oversikt tabellen.
                url: '@Url.Action("KontoOversikt", "Kundes")',
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    VisKontOversikt(data);
                    alert("Ajax Suksess");
                },
                error: function (feilmelding) {
                    alert("Feil. Kontakt systemansvarlig eller prøv igjen senere.\n" + feilmelding.Message);
                    alert(x + '\n' + y + '\n' + z);
                }
            });
            //Disse bygger nettsiden.
            function VisKontOversikt(jsKontoOversikt) { // Her er JEG!!
                alert("Oversikt startet");
                utStreng = "";
                for (var løpeNr in jsKontoOversikt) {
                    utStreng += "<tr><td>" + jsKontoOversikt[løpeNr].KontoNr + "</td><td>" + jsKontoOversikt[løpeNr].Saldo + "</td></tr>";
                }
                $("#KontoOversikt").append(utStreng);

            }
            function Kontoliste(jsKontoListe) {
                //alert("Kontoliste startet");
                utStreng = "";
                for (var løpeNr in jsKontoListe) {
                    utStreng += "<option>" + jsKontoListe[løpeNr].KontoNr + "</option>";
                }
                $("#KontoSelect").append(utStreng);
            }
        });
    </script>
</head>
<div id="persnr" data-persnr="@Session["PersonNr"]"></div>
<table class="table" id="KontoOversikt">
    <!--VisKontoOversikt-->
</table>
@Html.Partial("NyTransaksjon")